@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'LEIXO DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('LEIXO DEMO'), url('./assets/fonts/LEIXO-DEMO.woff') format('woff');
  }
}

.nav-div {
  @apply transform hover:-translate-y-1 duration-300 ease-in-out md:relative;
}

.nav-item {
  @apply text-xl font-proza uppercase;
}

.bottom-span {
  @apply inline-block absolute bottom-0 left-0 bg-gradient-to-r from-pink-400 to-purple-500 md:delay-150 md:duration-300 md:ease-in-out md:w-0 peer-hover:w-full w-full h-0.5 rounded-full;
}