@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'LEIXO DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('LEIXO DEMO'), url('./fonts/LEIXO-DEMO.woff') format('woff');
  }
}
